*{
  font-family: "Work Sans", sans-serif;
}
/* shared item */
.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    margin: 32px;
}
.btn-primary>a{
    text-decoration: none;
    color: aliceblue;
}
/* header related styles */
 header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
 }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-title{
    font-size: 45px;
    font-weight: 700;
    color:#131313;
}
nav ul{
    display: flex;
}

ul>li{
    list-style: none;
    margin-right: 15px;
    font-weight: 700;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
li>a:hover{
    text-decoration:underline;
}
.banner-description{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner img{
    width: 100%;
}

/* main body */
main
{
    max-width: 1150px;
    margin: 70px auto;
}
.teams-container
{
    display: flex;
    align-items:center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.first{
    color: #727272;
    font-size: 35px;
    font-weight: 500;
}
.second{
    color: #131313;
    font-size: 35px;
}
.third{
    color: #FF900E;
    font-size: 45px;
    font-weight: 600;
}
.team-description{
    font-size: 16px;
    color: #727272;
}

.features{
    display: flex;
    margin-top:130px;
    gap: 20px;
}
 .card{
    border-radius: 6px;
    margin-bottom: 20px;
    background: #FFF;
    padding: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);

}

.feature-image img{
    height: 85%;
    margin-left: 65px;
}
.content-title{
    border-left: 5px solid #FF900E;
    padding-left:10px;
    font-size: 40px;
    font-weight: 700;
}
.shared-heading-color{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.shared-text-color{
    color: #727272;
    font-size: 14px;
    font-weight: 500;
}
.ten_years_badge h2{
    
    font-size: 50px;
    margin: 0;
}
.ten_years_badge p{
    
    font-size: 20px;
}
.ten_years_badge{
    font-weight: 700;
    background: #FF900E;
    color: #FFF;
    border-radius: 8px;
    width: 220px;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 115px;
    
}

/* achievents starts here */

.achievement-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-top:40px;
    gap: 80px;
}
.achievements-icons
{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 20px 18px;
    width: 165px;
    
}

/* sponsor works here */

.sponsor-titles
{
    text-align: center;
    padding-top: 70px;
}

.sponsor-logo{
    display: flex;
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    gap: 70px;
}
.sponsor-img img{
    width: 50%;
    height: auto;
    padding-left: 40px;
}

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }

    nav{
        display: flex;
        flex-direction: column;
    }
    .teams-content{
        text-align: center;
    }
    .teams-container
    {
    display: flex;
    flex-direction: column-reverse;
    
    }
    .teams-img-container{
        display: grid;
        grid-template-columns:1fr;
        gap: 20px;
    }
    .features{
        display: flex;
        flex-direction: column;
        margin-top:10px;
        gap: 10px;
    }
    .feature-image img{
        height: 85%;
        width: 100%;
        margin-left:2px;
    }
    .card{
        border-radius: 10px;
        margin-bottom: 20px;
        background: #FFF;
        padding: 5px;
        box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
    
    }
    .shared-heading-color{
        color: #131313;
        font-size: 24px;
        font-weight: 700;
    }
    .shared-text-color{
        color: #727272;
        font-size: 20px;
        font-weight: 600;
    }
    .achievement-container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media screen and (min-width:576px) and (max-width:1096px)
{
    header{
        padding: 40px;
    }
  nav{
    display: flex;
    flex-direction: column;
  }
  .teams-container
  {
  display: flex;
  flex-direction: column-reverse;
  
  }
  .teams-img-container{
    display: grid;
    grid-template-columns:1fr;
    gap: 10px;
    width: 100%;
    }
    .teams-content{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .teams-img-container img{
        width: 100%;
    }
    .features{
        display: flex;
        flex-direction: column;
        margin-top:10px;
        gap: 10px;
    }

    .feature-image img{
        height: 85%;
        width: 100%;
        margin-left:2px;
    }
    .card{
        border-radius: 10px;
        margin-bottom: 15px;
        background: #FFF;
        padding: 5px;
        box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.5);
    
    }
    .content-title{
        border-left: 8px solid #FF900E;
        padding-left:10px;
        font-size: 45px;
        font-weight: 700;
    }

    .shared-heading-color{
        color: #131313;
        font-size: 28px;
        font-weight: 700;
    }

    .shared-text-color{
        color: #727272;
        font-size: 22px;
        font-weight: 600;
    }

    .achievement-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        padding-left: 100px;
    }
}